<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="~{base :: head}"></head>

<body>

	<div th:replace="~{base :: logo}"></div>

	<div class="container">

		<div th:replace="~{base :: titulo('Novo Pedido')}"></div>

		<div class="card">
			<form th:object="${orderDto}" class="card-body" th:action="@{/order/neworder}" method="POST">
				<div class="form-group">
					<label for="productName">Produto</label>
					<input th:field="*{productName}" th:errorclass="is-invalid" class="form-control"
						placeholder="Nome do produto" />
					<small>Informe qual o nome do produto</small>
					<div th:errors="*{productName}" class="invalid-feedback">
						Error
					</div>
				</div>
				<div class="form-group">
					<label for="urlProduct">Url do Anúncio</label>
					<input th:field="*{urlProduct}" class="form-control" th:errorclass="is-invalid"
						placeholder="Url do anúncio do produto" />
					<small>Procure em um site o anúncio do produto que você deseja e cole a URL aqui</small>
					<div th:errors="*{urlProduct}" class="invalid-feedback">
						Error
					</div>
				</div>
				<div class="form-group">
					<label for="urlImage">Url da Imagem</label>
					<input th:field="*{urlImage}" class="form-control" th:errorclass="is-invalid"
						placeholder="Url da imagem" />
					<small>Copie a URL de uma boa imagem do produto e cole aqui para ajudar a conseguir
						compradores</small>
					<div th:errors="*{urlImage}" class="invalid-feedback">
						Error
					</div>
				</div>
				<div class="form-group">
					<label for="description">Descrição</label>
					<textarea th:field="*{description}" class="form-control" th:errorclass="is-invalid"
						placeholder="Adicione detalhes importantes para o comprador"></textarea>
					<div th:errors="*{description}" class="invalid-feedback">
						Error
					</div>

				</div>
				<button type="submit" class="btn btn-primary">Cadastrar</button>

			</form>
		</div>

	</div>
</body>

</html>