<!DOCTYPE html>
<html lang="pt-br">

<head th:replace="~{base :: head}"></head>

<body>

	<div th:replace="~{base :: logo}"></div>

	<div class="container">

		<div th:replace="~{base :: titulo('Meus Pedidos')}"></div>

		<nav class="navbar navbar-expand navbar-light bg-light d-flex justify-content-between mb-3">
			<div class="navbar-nav">
				<a class="nav-link active" href="">Todos</a>
				<a class="nav-link" href="">Aguardando</a>
				<a class="nav-link" href="">Aprovado</a>
				<a class="nav-link" href="">Entregue</a>
			</div>
			<a href="/order/form" class="btn btn-outline-secondary">Novo</a>
		</nav>

		<!-- Content here -->
		<div class="card mb-3" th:each="order: ${orders}">
			<div class="card-header" th:text="${order.productName}">Nome do Produto</div>
			<div class="card-body">
				<div class="row">
					<div class="col-12 col-sm-8 mb-3">
						<div class="row">
							<div class="col-md-5">Valor: <span th:text="${order.productValue}">200,09</span></div>
							<div class="col-md-7">Data de entrega: <span
									th:text="${order.dateDelivery}">10/09/2021</span></div>
						</div>
						<div>Produto</div>
						<div> <input class="form-control" th:value="${order.urlProduct}" value="imput do produto" />
						</div>

						<div>Descrição</div>
						<div>
							<textarea class="form-control" th:text="${order.description}">Descricao do pedido</textarea>
						</div>
					</div>
					<div class="col-12 col-sm-4">
						<div>
							<img class="img-thumbnail" th:src="${order.urlImage}" src="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>