<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MUDI</title>
</head>

<body>

	<div th:each="order: ${orders}">
		<div th:text="${order.productName}">Nome do Produto</div>
		<div>Valor: R$ <span th:text="${order.productValue}" >200,09</span></div>
		<div>Data de entrega: <span th:text="${order.dateDelivery}">10/09/2021</span></div>

		<div>Produto</div>
		<div> <input th:value="${order.urlProduct}"value = "imput do produto" /> </div>

		<div>Descrição</div>
		<div>
			<textarea th:text="${order.description}" >Descricao do pedido</textarea>
		</div>

		<div>
			<img th:src="${order.urlImage}" src="">
		</div>

	</div>

</body>

</html>